@use 'variables' as vars;

.amethysta-regular {
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: vars.$color-bg;
  color: #240A14;
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  //border: 1px solid black;
}