@use 'variables' as vars;

.control-panel {
  
  gap: 0.5rem;
  padding: 0.5rem;
  max-width: 800px;
  min-width: 250px;
  margin: 0 auto 0 auto; // center controls block
  background-color: white;
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid black;
}

.control-wrapper {
  display: flex;
  justify-content: left;
  //border: 1px solid black;
}

.scale-control {
  margin-bottom: 0.5rem;
}

.scale-name-wrapper {
  justify-content: center;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  background-color: white;
}

select, button {
  padding: 0.6rem 0.8rem;
  margin-top: 0.5rem;
  border-radius: 4pt;
  border: 1px solid black;
  font-size: 0.95rem;
  background-color: white;
}

.volume-slider {
  //background-color: white;
}

.page-title {
  margin: 0.5rem 0 0.5rem 0;
}

.scale-title {
  text-align: center;
}

.big-controls {
  font-size: 14pt;
}

.audio-controls {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .control-panel {
    grid-template-columns: 1fr;
  }
}