@use 'variables' as vars;

html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 28pt;
  display: flex;
  gap: 3rem;
  border-bottom: 2px solid black;
  background-color: #EEEEEE;
  padding: 0.5rem 0.5rem 0 0.5rem;
  align-items: center;
  justify-content: left;
}

.navlink {
  padding-top: 1rem;
}

.logo {
  border: 1px solid black;
  height: 70px;
}

.page-title {
  padding-left: 0.5rem;
}
  

.amethysta-regular {
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: vars.$color-bg;
  color: #240A14;
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
  //border: 1px solid black;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding-bottom: 1.0rem;
  //border: 1px solid black;
}