@use 'variables' as vars;

svg {
  display: block;
  width: auto;   // prevent stretching
  // border: 1px solid black;
}

.sheet-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;

}